# Copy to .env and change passwords before launching.
TS_AUTHKEY=
TS_HOSTNAME=hermes-kasm
KASM_VNC_PASSWORD=change-this-kasm-password
HERMES_WEBUI_PASSWORD=change-this-webui-password
CODE_SERVER_PASSWORD=change-this-code-password
HINDSIGHT_API_URL=
HINDSIGHT_API_KEY=
TZ=Asia/Karachi
KASM_IMAGE=kasmweb/ubuntu-noble-desktop:1.18.0
KASM_PORT=6901
WEBUI_PORT=8788
CODE_SERVER_PORT=8444
KASM_CPU_LIMIT=4.0
KASM_MEMORY_LIMIT=8g
TAILSCALE_CPU_LIMIT=0.5
TAILSCALE_MEMORY_LIMIT=256m
PERSISTENT_DATA_BUDGET=50g
